.blue {
    background: #0277bd;
    color: azure;
}

.green {
    background: #00a747;
    color: beige;
}

.yellow {
    background: #ffb300;
    color: beige;
}

.pink{
    background: #c2185b;
    color: beige;
}

.purple{
    background: #7b1fa2;
    color: beige;
}

.teal{
    background: #009688;
    color: beige;
}

.orange{
    background: #e65100;
    color: beige;
}

.grey{
    background: #607d8b;
    color: beige;
}